@model AskFm.Models.UserDTO

@*for unauthenticated clients*@

<div class="profile-top">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-circle" src="@Url.Action("GetProfilePhoto", "User" , new { Id=Model.Id })" width="200px" height="200px" style="display:block;margin-left:auto;margin-right:auto;" />
        </div>
        <div class="col-md-6 col-sm-12 ">
            <h2 class="text-center text-capitalize">@Model.FullName</h2>
            <p class="text-center">@Model.bio</p>

            <span style=" display:inline-block; background-color:#b15315;margin:5px;padding:5px 15px; border-radius:5px;" class="text-center">
                Followers <br /> @Model.Followers
            </span>
            <span style=" display:inline-block; background-color:#b15315;margin:5px;padding:5px 15px;border-radius:5px;" class="text-center">
                <span>Following <br /> @Model.Following</span>
            </span>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    @*<div class="profile-bottom" >*@
    <div class="col-md-offset-3 col-md-6">
        @foreach (var a in Model.Answers)
        {
            <div class="panel panel-default">
                @if (a.IsAnon)
                {
                    <p style="padding: 8px 12px;">Anonymous</p>
                }
                else
                {
                    <a class="btn btn-link" href="/user/profile/@a.AskedBy.UserName">@a.AskedBy.FullName</a>
                }
                <div class="panel-heading" style="font-size:large;"><b>@a.Q</b></div>
                <a class="btn-link" href="/user/answer/?Id=@a.Id" style="float:right;">@a.Date</a>
                <div class="panel-body">
                    @a.A
                </div>
                @if (a.ContainsPhoto)
                {
                    <img src="@Url.Action("GetAnswerPhoto", "User" , new { Id=a.Id })" style="display:block;width:100%;" />
                }
                <span style="display:inline-block;margin:10px;font-size:x-large">@a.Likes</span> <span class="glyphicon glyphicon-heart" style="font-size:x-large"></span>
            </div>
        }
    </div>
    <div class="clearfix"></div>