@model ExO.Models.Exam

<h1 class="text-center"> @Model.Name <span class="glyphicon glyphicon-pencil"> </span></h1>
<h3><b> Finale Touches</b></h3>
<div>
    <h4>Note: <span class="glyphicon glyphicon-warning-sign"></span></h4>
    <p class="text-warning">
        you cannot edit the exam after you post it.<br />
        so, take your time and check the questions carefully.
    </p>
    <hr />
</div>

@if (Model.Questions.Count > 0)
{
    int i = 0;
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-12">
            
            @foreach (var item in Model.Questions)
            {
           
            <ul class="list-group" style="list-style:none;">
                <li class="list-group-item-heading"> <b>@(++i). @item.question</b> </li>
                <li class="list-group-item">A. @item.AnswerA</li>
                <li class="list-group-item">B. @item.AnswerB</li>
                <li class="list-group-item">C. @item.AnswerC</li>
                <li class="list-group-item">D. @item.AnswerD</li>
            </ul>
            <span> Solution: @item.CorrectAnswer</span><br />
            <a class="btn btn-link" href="/Exam/@Model.Code/DeleteQuestion/@item.Id">Delete</a>
            <a class="btn btn-link" href="/Exam/@Model.Code/EditQuestion/@item.Id">Edit</a>
            <hr />
            }

            <a class="btn btn-block btn-primary" href="/Exam/@Model.Code/SaveExam">Save</a>
        </div>
    </div>
    
}
else
{
    <p>You cannot post Empty Exam</p>
}
<hr />
<a style="margin:5px auto;" class="btn btn-default" href="/Exam/@Model.Code/AddQuestion">Add more Questions</a>